*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #211d1d;
}

main {
  height: 100vh;
  width: 100%;
  background-color: rgb(33, 29, 29);
}

@media screen and (max-width: 62.5rem) {
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    background-color: #211d1d;
  }
  main {
    height: 100vh;
    width: 100%;
    background-color: rgb(33, 29, 29);
  }
  .main {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    width: 100%;
    background-color: rgb(33, 29, 29);
    gap: 27rem;
  }
  header {
    background-color: rgb(32, 7, 84);
    height: 14rem;
    width: 100%;
  }
  .title__text {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 3rem;
    color: white;
    font-size: 5rem;
    font-family: sans-serif;
    gap: 1.3rem;
  }
  .title__text:hover {
    transition: 0.3s;
    color: purple;
  }
  .aside__side {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    top: 78rem;
    right: 14rem;
  }
  .aside_img {
    position: relative;
    height: 17rem;
    width: 19rem;
  }
  .main__video {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18rem;
    width: 31rem;
    position: relative;
    left: 90rem;
    border: black solid 0.5rem;
  }
  .main__video__overlay {
    width: 10rem;
    height: 10rem;
  }
  .star__style__first {
    position: relative;
    bottom: 45rem;
    height: 5rem;
    width: 5rem;
    color: rgb(246, 255, 0);
    font-size: 5rem;
  }
  .figure__element {
    display: flex;
    justify-content: flex-end;
    padding-left: 1rem;
    width: 106.3rem;
    height: 8rem;
    position: relative;
    left: 57rem;
  }
  .star__icon {
    padding-top: 1.5rem;
    font-size: 5.5rem;
    color: rgb(255, 255, 255);
    width: 10rem;
  }
  .share__icon {
    padding-top: 1.5rem;
    font-size: 5.5rem;
    color: rgb(255, 255, 255);
    width: 10rem;
  }
  .profile__sizing {
    justify-content: flex-start;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    position: relative;
    top: 2rem;
    right: 68rem;
    left: -39rem;
    height: 5rem;
    width: 5rem;
  }
  .title__size {
    position: relative;
    top: 3rem;
    right: 65rem;
    height: 5rem;
    width: 2rem;
    left: -39rem;
    justify-content: flex-start;
    color: white;
    font-size: 2.3rem;
  }
  .comments__section {
    position: relative;
    left: 88rem;
    height: 5rem;
    width: 33rem;
  }
  .comment__input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }
  .comment__button {
    background-color: #a970ff;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
  }
  .comment__list {
    font-family: sans-serif;
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  .comment__list_li {
    margin-bottom: 1rem;
    overflow: scroll;
    height: 10rem;
  }
  .comment__list span {
    font-size: 3rem;
    width: 100rem;
    color: white;
  }
  .comment__profile-image {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    margin-top: 1rem;
    margin-right: 2rem;
  }
}
.main {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background-color: rgb(33, 29, 29);
  gap: 27rem;
}

header {
  background-color: rgb(32, 7, 84);
  height: 14rem;
  width: 100%;
}

.title__text {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 3rem;
  color: white;
  font-size: 5rem;
  font-family: sans-serif;
  gap: 1.3rem;
}

.title__text:hover {
  transition: 0.3s;
  color: purple;
}

.aside__side {
  display: flex;
  justify-content: flex-end;
  height: 90vh;
  width: 24rem;
  flex-direction: column;
  z-index: 1;
}

.aside_img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17rem;
  width: 19rem;
  margin-bottom: 3rem;
  transition: 0.4s all ease-in-out;
}
.aside_img:hover:hover {
  transform: scale(1.02);
}
.aside_img:hover:not(:hover) {
  box-shadow: none;
  transform: scale(1);
}

.main__video {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 45rem;
  border: black solid 0.5rem;
}

.main__video__overlay {
  width: 10rem;
  height: 10rem;
}

.star__style__first {
  position: relative;
  bottom: 45rem;
  max-height: 5rem;
  max-width: 5rem;
  color: rgb(246, 255, 0);
  font-size: 5rem;
}

.figure__element {
  display: flex;
  justify-content: flex-end;
  padding-left: 1rem;
  gap: 2rem;
  max-width: 79.3rem;
  max-height: 10rem;
}

.star__icon {
  padding-top: 1.5rem;
  font-size: 5.5rem;
  color: rgb(255, 255, 255);
}

.share__icon {
  padding-top: 1.5rem;
  font-size: 5.5rem;
  color: rgb(255, 255, 255);
}

.profile__sizing {
  justify-content: flex-start;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  position: relative;
  top: 2rem;
  right: 68rem;
  height: 5rem;
  width: 5rem;
}

.title__size {
  position: relative;
  top: 3rem;
  right: 65rem;
  height: 5rem;
  width: 2rem;
  justify-content: flex-start;
  color: white;
  font-size: 2.3rem;
}

.comments__section {
  margin-top: 20px;
}

.comment__input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.comment__button {
  background-color: #a970ff;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
}

.comment__list {
  font-family: sans-serif;
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.comment__list_li {
  margin-bottom: 1rem;
}

.comment__list span {
  font-size: 3rem;
  width: 100rem;
  color: white;
}

.comment__profile-image {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin-top: 1rem;
  margin-right: 2rem;
}

/*# sourceMappingURL=style.css.map */
